.about {
  margin-bottom: 31px;

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.about__inner {
  @media (min-width: @desktop-width) {
    padding: 0 175px;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-weight: bold;
  .font(25px, 30px);
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    .font(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .font(53px, 57px);
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about__item {
  margin-bottom: 27px;
  padding-top: 56px;
  font-weight: bold;
  .font(17px, 20px);
  color: @black;
  background-position: left top;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 54px;
    .font(20px, 22px);
  }

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");

    @media (min-width: @tablet-width) {
      order: -2;
    }
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");

    @media (min-width: @tablet-width) {
      order: -1;
    }
  }

  &--factory {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present {
    background-image: url("../img/icon-feature-gift.svg");

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }
}
