.btn {
  display: block;
  padding: 14px;
  font-weight: bold;
  .font(18px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  border: 2px solid @grey;
  background-color: @white;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 14px 35px;
  }

  &:hover,
  &:focus {
    background-color: @grey;
    color: @white;
  }

  &:active {
    background-color: @grey;
    color: rgba(@white, 30%);
  }

  &--modal {
    width: 100%;
    .font(17px, 16px);
    color: @white;
    background-color: @tiffany-main;
    border: none;

    &:hover,
    &:focus {
      background-color: @tiffany-medium;
      color: @white;
    }

    &:active {
      background-color: @tiffany-medium;
      color: rgba(@white, 70%);
    }
  }
}
