.btn {
  display: block;
  padding: 14px;
  font-weight: bold;
  .font(18px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  border: 2px solid @grey;
  background-color: @white;
  cursor: pointer;
  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 14px 35px;
  }
}

.btn:hover,
.btn:focus {
  background-color: @grey;
  color: @white;
}

.btn:active {
  background-color: @grey;
  color: rgba(@white, 30%);
}

.btn--modal {
  background-color: @tiffany-main;
  color: @white;
  border: none;
  width: 100%;
  .font(17px, 16px);
}

.btn--modal:hover,
.btn--modal:focus {
  background-color: @tiffany-medium;
  color: @white;
}

.btn--modal:active {
  background-color: @tiffany-medium;
  color: rgba(@white, 70%);
}
