.catalog__inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.catalog__item {
  margin: 0 auto 30px auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 51px;
    margin-bottom: 57px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
