.catalog__inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.catalog__item:not(:nth-child(3n)) {
  @media (min-width: @desktop-width) {
    margin-right: 51px;
  }
}

.catalog__item {
  margin-bottom: 30px;
  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}
