.comment {
  display: flex;
  flex-direction: column;
}

.comment__text {
  margin: 0;
  margin-bottom: 33px;
  .font(15px, 30px);

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
    .font(17px, 30px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.comment__author-name {
  margin-bottom: 5px;
  font-weight: bold;
  font-style: normal;
  .font(17px, 24px);
  color: @black;
}

.comment__author-login {
  .font(17px, 24px);
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: @tiffany-medium-active;
  }
}
