.comment__text {
  .font(15px, 30px);
}

.comment__author-name {
  font-weight: bold;
  .font(17px, 24px);
  color: @black;
  font-style: normal;
}

.comment__author-login {
  .font(17px, 24px);
  color: inherit;
}

.comment__author-login:hover,
.comment__author-login:focus,
.comment__author-login:active {
  color: @tiffany-medium-active;
}
