.contacts {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

.contacts__inner {
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    min-height: 457px;
    padding-right: 577px;
    padding-top: 67px;
  }
}

.contacts__title-wrap {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 26px;
  }
}

.contacts__title-wrap svg {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    margin: 0 63px;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  font-weight: bold;
  .font(18px, 30px);
  color: @black;

  @media (min-width: @tablet-width) {
    .font(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .font(53px, 57px);
  }
}

.contacts__data-list-wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    padding-left: 175px;
  }
}

.contacts__data-list {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: auto;
  }
}

.contacts__data {
  display: flex;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__data-item {
  margin-right: 30px;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }
}

.contacts__data-item,
.contacts__data-value {
  display: inline-block;
  .font(15px, 30px);

  @media (min-width: @tablet-width) {
    .font(17px, 30px);
  }
}

.contacts__email {
  color: inherit;
  border-bottom: 1px solid @tiffany-form;

  &:active {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    color: @tiffany-medium-active;
    border-bottom: 1px solid @tiffany-medium-active;
  }
}

.contacts__map {
  height: 457px;
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
  margin-bottom: 39px;
  background-color: @grey-bg;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-size: 66px 101px, 100%;
  background-position: 138px 145px, center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
    background-size: 66px 101px, 320px auto;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 363px 139px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
      background-size: auto, 768px auto;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 527px;
    margin: 0;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-position: 239px 146px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
      background-size: auto, 527px auto;
    }
  }

  & iframe {
    border: none;
  }
}

.contacts__btn {
  @media (min-width: @tablet-width) {
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
  }
}
