.contents {
  margin-bottom: 31px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.contents__title {
  font-weight: bold;
  .font(27px, 30px);
  color: @black;
}

.contents__item {
  display: inline-block;
  margin: 0 auto;
  padding: 24px 160px 31px 30px;
  font-weight: bold;
  .font(19px, 24px);
  color: @white;
}

.contents__item--interior {
  background-color: @tiffany-main;
}

.contents__item--interior:hover,
.contents__item--interior:focus,
.contents__item--interior:active {
  background-color: @tiffany-main-active;
}

.contents__item--toys {
  background-color: @tiffany-medium;
}

.contents__item--toys:hover,
.contents__item--toys:focus,
.contents__item--toys:active {
  background-color: @tiffany-medium-active;
}
