.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 21px 0;
  @media (min-width: @tablet-width) {
    width: 30%;
    justify-content: flex-end;
  }
}

.copyright__text {
  margin-right: 27px;
  font-weight: bold;
  .font(19px, 18px);
  color: @black;
}

.copyright__logo:hover svg,
.copyright__logo:focus svg {
  fill: @tiffany-medium-active;
}

.copyright__logo:active svg {
  fill: @tiffany-medium-active;
  fill-opacity: 0.3;
}

.copyright__logo svg {
  fill: @tiffany-main;
}

.copyright__logo:hover,
.copyright__logo:focus svg {
  fill: @tiffany-medium-active;
}

.copyright__logo:active svg {
  fill: @tiffany-medium-active;
  fill-opacity: 0.3;
}
