.featured {
  margin-bottom: 31px;
  padding: 0 30px;
}

.featured__title {
  font-weight: bold;
  .font(25px, 30px);
  color: @black;
}

.featured__note {
  font-weight: bold;
  .font(17px, 20px);
  color: @tiffany-main;
  text-transform: uppercase;
}

.featured__info {
  .font(15px, 24px);
}

.featured__img {
  display: block;
}

.featured__price {
  font-weight: bold;
  .font(17px, 24px);
}
