.media {
  margin-bottom: 58px;
  border: 1px solid #ECECEC;
}

.media__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (min-width: @desktop-width) {
    padding-left: 700px;
  }
}

.media__title {
  font-weight: bold;
  .font(17px, 24px);
  color: @black;
}

.media__video {
  @media (min-width: @tablet-width) {
    order: -1;
  }
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.media__btn {
  @media (min-width: @desktop-width) {
    align-self: flex-start;
  }
}
