.modal {
  padding: 0 30px;
}

.modal__title {
  font-weight: bold;
  .font(25px, 30px);
  color: @black;
  text-transform: uppercase;
}

.modal__goods {
  border: none;
}

.modal__goods-type {
  font-weight: bold;
  .font(17px, 16px);
}

.modal__goods-text {
  font-size: 15px;
  line-height: 30px;
}
