.order {
  margin-bottom: 55px;
  padding: 0 30px;
}

.order__text {
  .font(13px, 24px);
}

.order__info {
  border: none;
}

.order__features-title {
  font-weight: bold;
  .font(17px, 16px);
  color: @tiffany-main;
}

.order__feature {
  font-weight: bold;
  .font(17px, 18px);
  color: @black;
}

.order__note {
  .font(14px, 16px);
}
