.page-header__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .font(15px, 24px);

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }
}

.page-header__logo {
  margin-left: auto;
  margin-right: auto;
  padding: 22px;
  text-align: center;

  @media (min-width: @tablet-width) {
    align-self: center;
    padding: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.page-header__burger {
  display: none;
  align-self: center;
  width: 81px;
  height: 20px;
  margin-left: -81px;
  padding: 0 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__burger--close {
  display: block;
  background-image: url("../img/icon-menu-close.svg");

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__burger--open {
  display: block;
  background-image: url("../img/icon-menu-open.svg");

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__main-nav {
  @media (min-width: @tablet-width) {
    order: 1;
    width: 46%;
    .font(15px, 24px);
  }

  @media (min-width: @desktop-width) {
    order: -1;
    width: 40%;
    .font(17px, 24px);

    .nav__item {
      width: 45%;
      padding-top: 32px;
      padding-bottom: 32px;
      margin-right: 7.5%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.page-header__user-nav {
  @media (min-width: @tablet-width) {
    width: 54%;
    justify-content: flex-end;

    .nav__item {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.page-header__extra-nav {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    width: 60%;
    .font(15px, 24px);

    .nav__item {
      width: 30%;
      margin-right: 5%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.page-header__note {
  display: none;
  text-align: right;

  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
    width: 54%;
    padding: 20px 0;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}
