.page-footer {
  background-color: @grey-bg;
}

.page-footer__inner {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
  }
}

.page-footer__logo {
  display: none;
  @media (min-width: @tablet-width) {
    width: 30%;
    display: block;
  }
}
