.product {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 316px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(@black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@black, 0.1);
  }
}

.product__img {
  display: block;

  @media (min-width: @tablet-width) {
    flex-shrink: 0;
    width: 334px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.product__info {
  border: 1px solid @grey-lines;
  padding: 27px 27px 25px 27px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    padding: 27px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 27px 28px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
  .font(17px, 24px);
  color: @black;

  @media (min-width: @tablet-width) {
    .font(20px, 24px);
  }

  &:hover,
  &:focus {
    color: rgba(@black, 60%);
  }

  &:active {
    color: rgba(@black, 30%);
  }
}

.product__text {
  margin-top: 0;
  margin-bottom: 18px;
  .font(13px, 30px);

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
    .font(15px, 30px);
  }
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @grey-lines;
  margin-top: auto;
  padding-top: 23px;
}

.product__price {
  font-weight: bold;
  .font(15px, 24px);
  color: @black;

  @media (min-width: @tablet-width) {
    .font(17px, 24px);
  }
}

.product__btn {
  display: inline-block;

  & svg {
    opacity: 0.2;
    position: relative;
    z-index: -1;
  }
}

.product__btn:hover svg,
.product__btn:focus svg {
  opacity: 1;
  fill: @tiffany-main;
}

.product__btn:active svg {
  opacity: 0.3;
  fill: @tiffany-main;
}
