.product {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 334px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__img {
  display: block;
  @media (min-width: @tablet-width) {
    width: 334px;
    height: auto;
  }
  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.product__info {
  border: 1px solid #ECECEC;
}


.product__title {
  font-weight: bold;
  .font(17px, 24px);
  color: @black;
}

.product__title:hover,
.product__title:focus {
  color: rgba(@black, 60%);
}

.product__title:active {
  color: rgba(@black, 30%);
}


.product__text {
  .font(13px, 30px);
}

.product__price {
  font-weight: bold;
  .font(15px, 24px);
  color: @black;
}
