@tiffany-main: #63D1BB;
@tiffany-main-active: #59D5BC;
@tiffany-medium: #56C3B2;
@tiffany-medium-active: #46C1AE;
@tiffany-dark: #149080;
@tiffany-form: #62D1BA;
@grey: #444444;
@grey-bg: #F1F1F1;
@grey-lines: #ECECEC;
@black: #000000;
@white: #FFFFFF;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
